<!DOCTYPE html>
<html>
    <head>
        <title>Test</title>
    </head>
    <body>
        <h1>Salem Stats</h1>
        <canvas id="testChart" width="40" height="40"></canvas>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            var ctx = $('#testChart');
            $.get('/logs', (data, textStatus, jgXHR) => {
                var xData = new Array();
                var yData = new Array();
                data.data.forEach(elem => {
                    console.log(elem.date + ' ' + elem.logs);
                    xData.push(elem.date);
                    yData.push(elem.logs);
                });

                var chart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: xData,
                        datasets: [{
                            label: 'Logs',
                            data: yData
                        }]
                    },
                    options: {
                        responsive: true,
                        title: {
                            display: true,
                            position: 'top',
                            text: 'Number of Triggers per Day',
                            fontSize: 18
                        },
                        legend: {
                            display: true,
                            position: 'bottom'
                        }
                    }
                })
            });
        </script>
        <style>
            canvas {
                height: 900px !important;
            }
        </style>
    </body>
</html>
